In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import cross_val_score, StratifiedKFold
from sklearn.neighbors import KNeighborsClassifier

In [2]:
b_cancer=pd.read_csv("D:/onkar_cdac/C-DAC/PML/PML/Files_by_sir/5. PML/1. Day wise Study Material/Cases/Wisconsin/BreastCancer.csv")

In [3]:
b_cancer

,Code,Clump,UniCell_Size,Uni_CellShape,MargAdh,SEpith,BareN,BChromatin,NoemN,Mitoses,Class
0,61634,5,4,3,1,2,2,2,3,1,Benign
1,63375,9,1,2,6,4,10,7,7,2,Malignant
2,76389,10,4,7,2,2,8,6,1,1,Malignant
3,95719,6,10,10,10,8,10,7,10,7,Malignant
4,128059,1,1,1,1,2,5,5,1,1,Benign
...,...,...,...,...,...,...,...,...,...,...,...
694,1369821,10,10,10,10,5,10,10,10,7,Malignant
695,1371026,5,10,10,10,4,10,5,6,3,Malignant
696,1371920,5,1,1,1,2,1,3,2,1,Benign
697,8233704,4,1,1,1,1,1,2,1,1,Benign
698,13454352,1,1,3,1,2,1,2,1,1,Benign

In [4]:
dum_b_cancer = pd.get_dummies(b_cancer, drop_first=True)
X = dum_b_cancer.drop('Class_Malignant',axis=1)
y = dum_b_cancer['Class_Malignant']

In [5]:
kfold = StratifiedKFold(n_splits=5, shuffle=True, random_state=2023)
knn = KNeighborsClassifier(n_neighbors=3)
results = cross_val_score(knn, X, y ,scoring='roc_auc',
                          cv = kfold)
print(results)
print(results.mean())

[0.64617301 0.51890851 0.5951087  0.53790087 0.5157967 ]
0.5627775590647153

In [6]:
roc = []
ks = np.arange(1,30,2)
for i in ks:
    knn = KNeighborsClassifier(n_neighbors=i)
    results = cross_val_score(knn, X, y ,scoring='roc_auc',
                              cv = kfold)
    roc.append(results.mean())

i_max = np.argmax(roc)
print("Best k =", ks[i_max], "with score =", np.max(roc))

Best k = 15 with score = 0.6102817163057292

In [8]:
df=pd.read_csv('D:/onkar_cdac/C-DAC/PML/PML/Files_by_sir/5. PML/1. Day wise Study Material/Cases/human-resources-analytics/HR_comma_sep.csv')

In [9]:
df

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,Department,salary
0,0.38,0.53,2,157,3,0,1,0,sales,low
1,0.80,0.86,5,262,6,0,1,0,sales,medium
2,0.11,0.88,7,272,4,0,1,0,sales,medium
3,0.72,0.87,5,223,5,0,1,0,sales,low
4,0.37,0.52,2,159,3,0,1,0,sales,low
...,...,...,...,...,...,...,...,...,...,...
14994,0.40,0.57,2,151,3,0,1,0,support,low
14995,0.37,0.48,2,160,3,0,1,0,support,low
14996,0.37,0.53,2,143,3,0,1,0,support,low
14997,0.11,0.96,6,280,4,0,1,0,support,low
14998,0.37,0.52,2,158,3,0,1,0,support,low

In [10]:
dum_df = pd.get_dummies(df, drop_first=True)
X = dum_df.drop('left',axis=1)
y = dum_df['left']

In [11]:
kfold = StratifiedKFold(n_splits=5, shuffle=True, random_state=2023)

In [12]:
roc = []
ks = np.arange(1,30,2)
for i in ks:
    knn = KNeighborsClassifier(n_neighbors=i)
    results = cross_val_score(knn, X, y ,scoring='roc_auc',
                              cv = kfold)
    roc.append(results.mean())

i_max = np.argmax(roc)
print("Best k =", ks[i_max], "with score =", np.max(roc))

Best k = 7 with score = 0.9743020379383627

In [13]:
############### Grid Search CV

In [14]:
from sklearn.model_selection import GridSearchCV

In [16]:
b_cancer=pd.read_csv('D:/onkar_cdac/C-DAC/PML/PML/Files_by_sir/5. PML/1. Day wise Study Material/Cases/Wisconsin/BreastCancer.csv')

In [17]:
b_cancer

,Code,Clump,UniCell_Size,Uni_CellShape,MargAdh,SEpith,BareN,BChromatin,NoemN,Mitoses,Class
0,61634,5,4,3,1,2,2,2,3,1,Benign
1,63375,9,1,2,6,4,10,7,7,2,Malignant
2,76389,10,4,7,2,2,8,6,1,1,Malignant
3,95719,6,10,10,10,8,10,7,10,7,Malignant
4,128059,1,1,1,1,2,5,5,1,1,Benign
...,...,...,...,...,...,...,...,...,...,...,...
694,1369821,10,10,10,10,5,10,10,10,7,Malignant
695,1371026,5,10,10,10,4,10,5,6,3,Malignant
696,1371920,5,1,1,1,2,1,3,2,1,Benign
697,8233704,4,1,1,1,1,1,2,1,1,Benign
698,13454352,1,1,3,1,2,1,2,1,1,Benign

In [18]:
dum_b_cancer = pd.get_dummies(b_cancer, drop_first=True)
X = dum_b_cancer.drop('Class_Malignant',axis=1)
y = dum_b_cancer['Class_Malignant']

In [19]:
kfold = StratifiedKFold(n_splits=5, shuffle=True, random_state=2023)
knn = KNeighborsClassifier()

In [20]:
params = {'n_neighbors':np.arange(1,30,2)}
gcv = GridSearchCV(knn, param_grid=params,scoring='roc_auc',
                          cv = kfold, verbose=3)

In [21]:
gcv.fit(X, y)
print(gcv.best_params_)
print(gcv.best_score_)

pd_gcv = pd.DataFrame(gcv.cv_results_)

Fitting 5 folds for each of 15 candidates, totalling 75 fits
[CV 1/5] END .....................n_neighbors=1;, score=0.582 total time=   0.0s
[CV 2/5] END .....................n_neighbors=1;, score=0.557 total time=   0.0s
[CV 3/5] END .....................n_neighbors=1;, score=0.645 total time=   0.0s
[CV 4/5] END .....................n_neighbors=1;, score=0.530 total time=   0.0s
[CV 5/5] END .....................n_neighbors=1;, score=0.594 total time=   0.0s
[CV 1/5] END .....................n_neighbors=3;, score=0.646 total time=   0.0s
[CV 2/5] END .....................n_neighbors=3;, score=0.519 total time=   0.0s
[CV 3/5] END .....................n_neighbors=3;, score=0.595 total time=   0.0s
[CV 4/5] END .....................n_neighbors=3;, score=0.538 total time=   0.0s
[CV 5/5] END .....................n_neighbors=3;, score=0.516 total time=   0.0s
[CV 1/5] END .....................n_neighbors=5;, score=0.623 total time=   0.0s
[CV 2/5] END .....................n_neighbors=5;, score=0.579 total time=   0.0s
[CV 3/5] END .....................n_neighbors=5;, score=0.575 total time=   0.0s
[CV 4/5] END .....................n_neighbors=5;, score=0.536 total time=   0.0s
[CV 5/5] END .....................n_neighbors=5;, score=0.505 total time=   0.0s
[CV 1/5] END .....................n_neighbors=7;, score=0.625 total time=   0.0s
[CV 2/5] END .....................n_neighbors=7;, score=0.581 total time=   0.0s
[CV 3/5] END .....................n_neighbors=7;, score=0.604 total time=   0.0s
[CV 4/5] END .....................n_neighbors=7;, score=0.547 total time=   0.0s
[CV 5/5] END .....................n_neighbors=7;, score=0.495 total time=   0.0s
[CV 1/5] END .....................n_neighbors=9;, score=0.658 total time=   0.0s
[CV 2/5] END .....................n_neighbors=9;, score=0.586 total time=   0.0s
[CV 3/5] END .....................n_neighbors=9;, score=0.669 total time=   0.0s
[CV 4/5] END .....................n_neighbors=9;, score=0.568 total time=   0.0s
[CV 5/5] END .....................n_neighbors=9;, score=0.486 total time=   0.0s
[CV 1/5] END ....................n_neighbors=11;, score=0.672 total time=   0.0s
[CV 2/5] END ....................n_neighbors=11;, score=0.605 total time=   0.0s
[CV 3/5] END ....................n_neighbors=11;, score=0.658 total time=   0.0s
[CV 4/5] END ....................n_neighbors=11;, score=0.576 total time=   0.0s
[CV 5/5] END ....................n_neighbors=11;, score=0.496 total time=   0.0s
[CV 1/5] END ....................n_neighbors=13;, score=0.663 total time=   0.0s
[CV 2/5] END ....................n_neighbors=13;, score=0.584 total time=   0.0s
[CV 3/5] END ....................n_neighbors=13;, score=0.693 total time=   0.0s
[CV 4/5] END ....................n_neighbors=13;, score=0.580 total time=   0.0s
[CV 5/5] END ....................n_neighbors=13;, score=0.488 total time=   0.0s
[CV 1/5] END ....................n_neighbors=15;, score=0.660 total time=   0.0s
[CV 2/5] END ....................n_neighbors=15;, score=0.579 total time=   0.0s
[CV 3/5] END ....................n_neighbors=15;, score=0.703 total time=   0.0s
[CV 4/5] END ....................n_neighbors=15;, score=0.601 total time=   0.0s
[CV 5/5] END ....................n_neighbors=15;, score=0.508 total time=   0.0s
[CV 1/5] END ....................n_neighbors=17;, score=0.631 total time=   0.0s
[CV 2/5] END ....................n_neighbors=17;, score=0.575 total time=   0.0s
[CV 3/5] END ....................n_neighbors=17;, score=0.699 total time=   0.0s
[CV 4/5] END ....................n_neighbors=17;, score=0.605 total time=   0.0s
[CV 5/5] END ....................n_neighbors=17;, score=0.507 total time=   0.0s
[CV 1/5] END ....................n_neighbors=19;, score=0.638 total time=   0.0s
[CV 2/5] END ....................n_neighbors=19;, score=0.576 total time=   0.0s
[CV 3/5] END ....................n_neighbors=19;, score=0.702 total time=   0.0s
[CV 4/5] END ....................n_neighbors=19;, score=0.599 total time=   0.0s
[CV 5/5] END ....................n_neighbors=19;, score=0.499 total time=   0.0s
[CV 1/5] END ....................n_neighbors=21;, score=0.627 total time=   0.0s
[CV 2/5] END ....................n_neighbors=21;, score=0.560 total time=   0.0s
[CV 3/5] END ....................n_neighbors=21;, score=0.694 total time=   0.0s
[CV 4/5] END ....................n_neighbors=21;, score=0.608 total time=   0.0s
[CV 5/5] END ....................n_neighbors=21;, score=0.488 total time=   0.0s
[CV 1/5] END ....................n_neighbors=23;, score=0.627 total time=   0.0s
[CV 2/5] END ....................n_neighbors=23;, score=0.546 total time=   0.0s
[CV 3/5] END ....................n_neighbors=23;, score=0.696 total time=   0.0s
[CV 4/5] END ....................n_neighbors=23;, score=0.593 total time=   0.0s
[CV 5/5] END ....................n_neighbors=23;, score=0.484 total time=   0.0s
[CV 1/5] END ....................n_neighbors=25;, score=0.624 total time=   0.0s
[CV 2/5] END ....................n_neighbors=25;, score=0.537 total time=   0.0s
[CV 3/5] END ....................n_neighbors=25;, score=0.683 total time=   0.0s
[CV 4/5] END ....................n_neighbors=25;, score=0.579 total time=   0.0s
[CV 5/5] END ....................n_neighbors=25;, score=0.472 total time=   0.0s
[CV 1/5] END ....................n_neighbors=27;, score=0.620 total time=   0.0s
[CV 2/5] END ....................n_neighbors=27;, score=0.534 total time=   0.0s
[CV 3/5] END ....................n_neighbors=27;, score=0.689 total time=   0.0s
[CV 4/5] END ....................n_neighbors=27;, score=0.584 total time=   0.0s
[CV 5/5] END ....................n_neighbors=27;, score=0.484 total time=   0.0s
[CV 1/5] END ....................n_neighbors=29;, score=0.636 total time=   0.0s
[CV 2/5] END ....................n_neighbors=29;, score=0.531 total time=   0.0s
[CV 3/5] END ....................n_neighbors=29;, score=0.683 total time=   0.0s
[CV 4/5] END ....................n_neighbors=29;, score=0.599 total time=   0.0s
[CV 5/5] END ....................n_neighbors=29;, score=0.470 total time=   0.0s
{'n_neighbors': 15}
0.6102817163057292

In [22]:
############### Image Segementation

In [23]:
from sklearn.preprocessing import LabelEncoder
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler

In [24]:
imag_seg = pd.read_csv('D:/onkar_cdac/C-DAC/PML/PML/Files_by_sir/5. PML/1. Day wise Study Material/Cases/Image Segmentation/Image_Segmention.csv')

In [25]:
imag_seg

,Class,region.centroid.col,region.centroid.row,region.pixel.count,short.line.density.5,short.line.density.2,vedge.mean,vegde.sd,hedge.mean,hedge.sd,intensity.mean,rawred.mean,rawblue.mean,rawgreen.mean,exred.mean,exblue.mean,exgreen.mean,value.mean,saturation.mean,hue-mean
0,BRICKFACE,188,133,9,0.000000,0.0,0.333333,0.266667,0.500000,0.077778,6.666666,8.333334,7.777778,3.888889,5.000000,3.333333,-8.333333,8.444445,0.538580,-0.924817
1,BRICKFACE,105,139,9,0.000000,0.0,0.277778,0.107407,0.833333,0.522222,6.111111,7.555555,7.222222,3.555556,4.333334,3.333333,-7.666666,7.555555,0.532628,-0.965946
2,BRICKFACE,34,137,9,0.000000,0.0,0.500000,0.166667,1.111111,0.474074,5.851852,7.777778,6.444445,3.333333,5.777778,1.777778,-7.555555,7.777778,0.573633,-0.744272
3,BRICKFACE,39,111,9,0.000000,0.0,0.722222,0.374074,0.888889,0.429629,6.037037,7.000000,7.666666,3.444444,2.888889,4.888889,-7.777778,7.888889,0.562919,-1.175773
4,BRICKFACE,16,128,9,0.000000,0.0,0.500000,0.077778,0.666667,0.311111,5.555555,6.888889,6.666666,3.111111,4.000000,3.333333,-7.333334,7.111111,0.561508,-0.985811
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
204,GRASS,36,243,9,0.111111,0.0,1.888889,1.851851,2.000000,0.711110,13.333333,9.888889,12.111111,18.000000,-10.333333,-3.666667,14.000000,18.000000,0.452229,2.368311
205,GRASS,186,218,9,0.000000,0.0,1.166667,0.744444,1.166667,0.655555,13.703704,10.666667,12.666667,17.777779,-9.111111,-3.111111,12.222222,17.777779,0.401347,2.382684
206,GRASS,197,236,9,0.000000,0.0,2.444444,6.829628,3.333333,7.599998,16.074074,13.111111,16.666668,18.444445,-8.888889,1.777778,7.111111,18.555555,0.292729,2.789800
207,GRASS,208,240,9,0.111111,0.0,1.055556,0.862963,2.444444,5.007407,14.148149,10.888889,13.000000,18.555555,-9.777778,-3.444444,13.222222,18.555555,0.421621,2.392487
208,GRASS,223,185,9,0.000000,0.0,0.500000,0.349603,2.388889,2.080776,12.962963,11.555555,9.777778,17.555555,-4.222222,-9.555555,13.777778,17.555555,0.445418,1.838850

In [26]:
X = imag_seg.drop('Class', axis=1)
y = imag_seg['Class']

In [27]:
le = LabelEncoder()
le_y = le.fit_transform(y)
print(le.classes_)

['BRICKFACE' 'CEMENT' 'FOLIAGE' 'GRASS' 'PATH' 'SKY' 'WINDOW']

In [28]:
kfold = StratifiedKFold(n_splits=5, shuffle=True, random_state=2023)

In [29]:
scaler = StandardScaler()
knn = KNeighborsClassifier()
pipe = Pipeline([('scl_std', scaler), ('knn_model', knn)])

In [30]:
params = {'knn_model__n_neighbors':np.arange(1,31)}
gcv = GridSearchCV(pipe, param_grid=params,scoring='neg_log_loss',
                          cv = kfold)

In [31]:
gcv.fit(X, y)
print(gcv.best_params_)
print(gcv.best_score_)

pd_gcv = pd.DataFrame(gcv.cv_results_)

{'knn_model__n_neighbors': 19}
-0.7103594622824053