In [2]:
import pandas as pd
from sklearn.svm import SVC
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import Pipeline
from sklearn.metrics import roc_auc_score

In [3]:
kyp=pd.read_csv("D:/onkar_cdac/C-DAC/PML/PML/Files_by_sir/5. PML/1. Day wise Study Material/Cases/Kyphosis/Kyphosis.csv")

In [4]:
kyp

   Kyphosis  Age  Number  Start
0    absent   71       3      5
1    absent  158       3     14
2   present  128       4      5
3    absent    2       5      1
4    absent    1       4     15
..      ...  ...     ...    ...
76  present  157       3     13
77   absent   26       7     13
78   absent  120       2     13
79  present   42       7      6
80   absent   36       4     13

[81 rows x 4 columns]

In [9]:
kyp_dum=pd.get_dummies(kyp,drop_first=True)

In [10]:
kyp_dum

    Age  Number  Start  Kyphosis_present
0    71       3      5                 0
1   158       3     14                 0
2   128       4      5                 1
3     2       5      1                 0
4     1       4     15                 0
..  ...     ...    ...               ...
76  157       3     13                 1
77   26       7     13                 0
78  120       2     13                 0
79   42       7      6                 1
80   36       4     13                 0

[81 rows x 4 columns]

In [12]:
X=kyp_dum.drop('Kyphosis_present',axis=1)
y=kyp_dum['Kyphosis_present']

In [15]:
X_train,X_test,y_train,y_test=train_test_split(X,y,stratify=y,
                                              test_size=0.30,random_state=2023)

In [18]:
print(X_train.shape,X_test.shape,y_train.shape,y_test.shape)

(56, 3) (25, 3) (56,) (25,)

In [19]:
scaler=StandardScaler()
svm=SVC(probability=True,random_state=2023,kernel='rbf')
pipe_svm=Pipeline([('scal',scaler),('svmm',svm)])

In [21]:
pipe_svm.fit(X_train,y_train)

Pipeline(steps=[('scal', StandardScaler()),
                ('svmm', SVC(probability=True, random_state=2023))])

In [27]:
y_pred_prob = pipe_svm.predict_proba(X_test)[:,1]
print(roc_auc_score(y_test,y_pred_prob))

0.7400000000000001

In [ ]:
s